/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #3E8E41;
    color: white;
    margin: 0;
}

h3, h2 {
    text-align: center;
}

button {
    background-color: #3E8E41;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

#formulario {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 20px;
}

#productos-agregados p {
    font-size: 14px;
    color: #333;
}

.hidden {
    display: none;
}

/* Estilos para la vista previa de la cotización */
#vista-previa {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.factura-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.business-name {
    font-size: 24px;
    font-weight: bold;
    color: #3E8E41;
}

.cliente-datos p {
    margin: 5px 0;
}

#vista-productos {
    margin-bottom: 20px;
}

#vista-productos p {
    font-size: 14px;
}

#total-sin-iva {
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 600px) {
    #formulario, #vista-previa {
        width: 100%;
        padding: 10px;
    }

    button {
        padding: 8px 15px;
    }

    input, textarea {
        font-size: 14px;
    }

    .factura-header {
        flex-direction: column;
        text-align: center;
    }

    .business-name {
        margin-bottom: 10px;
    }

    .cliente-datos p {
        text-align: left;
    }
}
